$color0: rgb(36, 36, 36);
$color1: #5c5c5c;
$accent: rgb(15, 148, 26);
$accent_light: rgb(140, 235, 163);
$text-color: white;
$primary: red;
$transition: all ease .3s;
$gradient: linear-gradient(-45deg,$color0, $color1);
$shadow: 0px 0px 6px -2px #000000a3;