<div class="home-content">
  <div class="box-cards">
    <div class="list-cards" [@cardAnimation]="service.listModelDestaque.length">
      <div class="cards" *ngFor="let model of service.listModelDestaque; let i = index" [style.background-image]="model.img">
        <div class="action-cards ac-right" *ngIf="service.listModelDestaque.length == i+1" (click)="moveRight(model)">
          <div class="arrow a-right"></div>
        </div>
        <div class="action-cards ac-left" *ngIf="service.listModelDestaque.length == i+1" (click)="moveLeft(model)">
          <div class="arrow a-left"></div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="home-info">
    <div class="home-c1">

      <div class="home-title">Lorem Ipsum <br> Dolor Sit Amet</div>
      <div class="home-description">Lorem Ipsum Dolor Sit Amet, Lorem Ipsum Dolor Sit Amet, Lorem Ipsum Dolor Sit Amet, Lorem Ipsum Dolor Sit Amet , Lorem Ipsum Dolor Sit Amet, Lorem Ipsum Dolor Sit Amet.</div>
      <div class="home-btn">Conhecer todos os Veículos</div>
    </div>
    <div class="home-c2">

    </div>
    
  </div>
</div>